/* Réinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilisation de variables pour les couleurs */
:root {
  --primary-color: #0074d9;
  --primary-color-hover: #0056b3;
  --text-color: #1a191a;
  --background-color: #87ceeb;
  --container-bg: #e6e6fa;
  --generate-text: rgb(217, 10, 10);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 1.25em; /* Utilisation d'une valeur relative */
  background-color: var(--background-color);
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYVFRgVFhYYGRgZHBoeHBwcHBwcHh4dGRocHCEYHB4cIS4lHB4rHxoaJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHhISHjQrISs0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQxNDQ0NDQ0NDQ0NDQ0NP/AABEIALEBHQMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAACAAEDBAUGB//EADgQAAEDAgQEBAUDBAICAwAAAAEAAhEDIRIiMUEEBVFhE3GBwTKRoeHwBkKxUmLR8RRyI6IVU7L/xAAXAQEBAQEAAAAAAAAAAAAAAAAAAQID/8QAHhEBAQEAAgMBAQEAAAAAAAAAAAERAiESMUFRYTL/2gAMAwEAAhEDEQA/AJ2ZPi36dkz2F5xDTuiGfW0LW4nimtDwXMcwtyCACDs0DaOvZKMptUAYTMiyjZSLTiMQEXgTmnW/ul42LLESgT3Y7Dzukw4Pi36Ld5T+m3uzvdgYeozEdQNvVbjeVcOy4pYv7nCZ9DZFxwj2F5xDRSeKIw3nT2XcuFIWNJkdmj/Ciqfpvh6wxMmm7XLp6tKmjh2Uy04joEVQ47N26rS5vyqpROFzcrtHC4PbseyzcOC+s+iqHY7BZ297IH0y44hoUWHHfSLdVNwwl2CQA0ElxmAOsAE76IANYEYbzoo2MLDiOinr8AWBr8Qc0yRHa8HoocePLEfXRAn5/h26907Hhgg662TfB3n00SwY82myAX0i4yNCpHVQ4YRqbIfGw5YmEvBw5pmLoGYwsMnTSyepn+Hbqljx5dN0vg7z+e6B2PDBhOqA0STiGhuiwY80x9dEvGjLGlkBOqhwgTJQMYWXdppZP4OHNMwljx5dN+qBVBj+HbqnY8MEHX/KacHefRLw8eaY+yATSJOLbX3Uj6gcMI1KHxoyx2n6JeFgzTMIGY3Bd29rJ3jHdu3VLFjtpF+qnZwr2iQwkHQnLPlOqCJlQNGE6hR+EZxWiZ91K/hiTLpbO0fkoPG/bHb2QEX48rZkra4f9PmmJqvLS7ZrZ/8AbQ+izuBptZLyZOgtufz6LWPEF4gnob32hKqpzDkLi3xKbg9g+KLOb5josxlYNGEzIWtQ493DvDm3H7hsRuCs/mNBpqOc0Q1xlojQG8KIrVMnw7p2MDxiOqahecV/P7oaxIMNkDsqEapBw7Cy6f8ATHJWuPjOEhpyg6Ej9x7D+VgU2AgWEmPmV1b65YxlFmgaAT17Isi/x/MmA4WnERqf8KjxnMpZiNQA7MiSfXZc/wAbVImLGdlXovmcV/NSo3eE4rGCSdbETr+Qr3DViwyCuRfWLXZSQOy2qFfEACdr9dEHW0a9Ou1zSJGhB09FwfOuVuo1Sx12RiYeo0g9xp8l0fC8wbTA/hD+qntq8OHtOZma2saEe/omji6jsFmqxwb8JxwCSCCDcEG0R6KGhcHFczuo6riCQCY7Kierxjn4WQA0SIHfUyhewMGIao3NETAmFBRcSYdJHdAVPP8AFsme/AYGmqKvaMNvL7J6ABGa5ndAmUg4SdSo21S44ToUz3kEwTHZTvaACQBPbVAD2Bgka6JqeecW3utelyUtZirPgluIM1IB3d0N9IUPGcpe1uNlwJJAsSBuI1hS3BmveWHCNEbaQIxbm6VAAiTc91E5xkgExKodlUuMHQo6jMAluq1OC5M6o3GIYz+sj/8AO5V13J2MAOF9Qf1PytJ7AJqyOdpjH8WyZ7yw4RotnieFYIhhbM3aTG31Vc8tOHE3P1kZvus+U08VEUgRi3191GyoXHCdCmc8zqYn6Sp6rQASInstIs8vpNFRpiRqQd40HlMK5X5k95OLZ2gsLWhZnLK+F4c6YHX+Vrc0fTeWuYwgkXj4T6hM00dasx1Mtw3/AG9GmJnvJssI0hGLfX11WsKjWUodGM6Dp3KxA8zEmJ+kqZiStPkHEsNTBVjC9pAd/S7Zym5nQfw7sLhro7UOHULMrNAEiAeyPh+LeRgc4lo0DrgeU6LU/q3VrhaRqS94ysjEdBGw9VS4rjDjMWG3kNE3FVnEgSY6Cw+QRU2ggEgT3UuJN+o6wxRhvCKk4NEGxQsya3np2SezHmH1RT0WEvBi2KfqunpkOBi9lzTOIDSBe0fRd6eAaxjHN0gT6j7q/F3px1WmWPJNhdVa+aMN4XY8XywPFvNc7X4B1MmdCoilTeGiCYKLh2OxTtM+iR4QvOIad1apPDcu+nsiL04mkayq9GWNfisC138KxQpkXUfM/gcB0j5rF9DBrNxEFt7KSm8NABMEIWOwWN5vZC6kXHEIgrahbTIMkWmVLVcHCBcpGsDlve3sgazBmP0QPQyTitKas0uMtuITuz6Wjr3TsfgsfOyA2PAABNwh4GmRUYSLYhPzQGiXZhF0bqwdlEyUGvz7hXnNBcHQQVNyCo9stJj/AANvJVW80cGBryY7Xk9bxCjdzAFrm0gQTYudrB2aBPzWbtmNZJ9Z/FMxPcWXbJj5rS5Jwrajw13wtAxfxhnufdZrKgZlP07rV5Sw4S4GMRJ9I0+p+a1Ikjf5nzJrAGsAgACdgBs0bBZPF8zD2YZe54NrgNA91V5jUl2G4keiotGC5vtZSjY5fVBEOsen+FeGJ7g2kB3dsP8AJXNsqFxkWjr3WzwfH4Bhi/ZTED+oOBawB7TY2cP7jv6rnKbC0gkQAugeXObVDjOIF1+ozD+Fhuqh2Uan/acfwKucQht0/DvwAgmJ/NkLG4Lm82sk9uO4tHVaA1WFxJAkFTGoIibxHqgbUDBhO3RD4J+K3X3QXeWU8LXmGYgR8Qk4f7dbzEoOahrnwyLASBoDF/zzVd1QPGEanqmYMFzeeiAqLsIh1lHUpkkkCQUT247i210QrBuUzZALc+to6d0nPwZRdKtkjDafzdFTYHCXXP50QMKIOadbrsv0lzZtVhoPjE0Zf7m9B3H8QuJdUIMA2BhWRkONktc24IJsUHodaaQvduxWDzSsx++im5P+qWVW4OIAa6Pi/ae5/pP0VXnPL4z0XBzTeBf5KyaluMmpxDm2a2w3TUaEnESevurFGi5zbtud1d5UxrHlz4OHQHSdj1MLXjWfKLXBcO7DLmxOm3rdZHMhLicQa1tswOZxnSPLXRWuYc6cRbSb9527I6fEMfTcwicXwiBDSLgzEydFzrUYHE8KcUOI0BBaZBBvP50UBq4MoGil43iHFwiwgADoBpqmZTDgCRJKRQ+ABmnS/uha/HlNkzahJibTGykqMDRIsfzqqBcMGl569kmsx5jbayVHPOK8fmyuUuWVnDExsM6kgCe2LX0UtwUjWw5Y0RGiG5p0urVflzmAF7ddwZE+YMKkyoSQCbFJd9Amvx5TbeyTsml569kVVgaJbY/nVDRzzivH5sqHFPHmNvstXlFaAW/0mFj1XlpgWH51Whyx7WuBdo4Zj0/u+asWN3i+U4hjHRYFXh3klrhEbrpuA5nhyP8AQ+/cKnzmuz4m6piMJtIsNrz1Wlw1PFfdVAXO1Ftlf4GmQY0aFMQHFPwNcf7SPnlCxDSDMwvH+lsc6rNdlF4uT3GyxuGxPcGE2OvkN7KSdkJrsdjaL2SccFheeq3ncFQY0HC4yLnEZHkNPoqPHcuDcLw/Gx84HaERq1wGjgqqgKQfmNpVzg+BqVWktaAwSMTjAtrG5Kz6jy0kAwAuh5kHtYzDIY1tosAY7blE1l1eWPYC8ZgNY27lVWnHY2jotvkPHPJwkYhtI9t1lcwYGPcGWGJwHkDpdZl7xULnYLC+90/gB2adUqTcYl1z+dED6hBIBsFoFw++L6/dDXmcsx20+iKrnjDeNfwoqbwwQ7VATCIExMdlBSmRMxvOi0OXcKC8Pc0OaTYHp1IWvxHE0nZHsDmG2UBrm9wR06K4Ocr6Zfp9kXCvLZuR6wpOJ4Xwajm4g5v7XD9wMEG3ZQVRj+HZQFW4h5Jh747EwtLlPENa/NBkDzJ6edz6rNpvDRhOoUXhGZ2mfTVXUkxucfw9LGCwktIuDoPmlWeGUsW/7QNT3tss13FkiA6TtIB+pCia8glzyb76/wClLh2ahpm+v3UdWZMTHZFVbjMt2spGVA0QdQiicRB0mPVV6EzmmO+n1SFIgztqpajw8Q3VBIxgc9jdi4THS3T1W1zHmL5LSQ1ogBsAAAREf5WDwzzTOI2NiN9Lre4njmcQxoAYCN3EAjqLxITNLcHw3FeIxzHNJDss7Cf3CNSDeeywHxBiJ7QtX/nMosLcQc8iLXDe8i0rDZSLSCRYKSZV2WQ9CZzTHf7ouI2w/T7Iqjw8Q3VDSyTitKqCoxGaJ76/VRPBkxMT3hFUYXmRopG1QBBNxZBbbxgDcLocBpBzDs09Oyei5hMl5HZ4I+yzmUi0gnQI6jg8Q3VanJLNadaoy2eY2aD7IHcxy4W5fPX7LPpHBOK0oH0y4yNEvJJx/TOxYt4nv1WryykHvwBwa5wym1yL4fWIVAVQBG+nsoqdMtIcbRusrZrX8YglrwQRYh1oPS6rcc4+GACbukAbAAgut1kfJNxPMX1QASHuG7gJjz39VAKpBJe4kmLm9gICXsmmpRAmJ76/VaHC83cGeG74dJIkR7WWU+mXHENCpTVERvEeuiNS40/+eymC5mZ506Dv38lk0SZOL/26+qGmwtOI6I6px/DePzdSTC0FfXLpG32U1MiBMSgpODBDrFBUpkmRoVUEMmt5SLMebRJufXbp3TPeWZR9UG1ykNexzGn/AMrPhaTGNt5DZ/cDsq7qb57iZm0R1J0VBtIHNedbdVPSZWqiSCWf1EwPQuN/RNZy/A8VVbUdDbBoABO8fclLh+HIBMtAEXJi/QdTZNX4Z1MYo7dR9EXC8RLXNc0EGPMEbjupMxoHE8G4OzQDAPW3WVH4/wC2O3spOL4sl0AAAAAeQQeCPivOvukA+HgzTMLR4XlFWu3EGhjNcTzAPkNSr36Y4FtQmpVAwNOUHQkak9QLW3PktPmHOmseMMRpLhMd4H8LUSuf/wDjcGXGD3wkD6lV63KnnMCCD01HotP/AJjXvJxSJscOEG39N1o0cDB1Ow3WOVvxrpyRrTljW3smFPBmmfuuj57ybIa7RhcLuaOn9Xn17Lm2PLzhOnbsnHlsQ5z6Wj3SD8GXXdJ+TTfr2TsZjuddLLQY0cWadU/jYssa2QurFuURARuohuYTIugEU8GbXZI5+0e/+kzH48p01snfk0369kCD8GWJ+6bwZzTrdEymHjEdeyA1iDhtAsgPxsWWIlMGYL67InUQ24myBj8djprZA5GPtCcPwZYn7pnHBpv1TsYH5jr27IB8Gc09/dEauPLET/tAaxBw2jT2UjqQaMQ1CAQ3BfWbJFuO4tFkmOx2O17JPdgsN+qBCrgyxMJvB/dPf3RNph4xHU9EHjGcNo09kBmpjyxEpgMF9ZTvphgxDUdUzDjsduiBFmO+mycV8OWJhM9+Cw87o2UQ4YjMlAFfLGG0oqLA4SblDw+WcVvNDXaSZFx2QS8Neo1hJw4oIHQbfJbvM+YuGJrQGtADQBYADSFjcNWa0tJItEj+Vs8YKL2tfcP36HugblvGNeCHibGR/V2M7LF5gwMeWss3byNx9CtXhg29wGjU6rK8WXOJtJtPTQfRTO00NJgcJIkqHxDMTaYj1Rmi974Y1z50wgn+FffwTwILYMaSJ06SqrapMwUg0WAA0+Z/krncRc4h142K6TljCWsxAiQBfqBCrc65M6JYJVtZm/XP134SA2y1+V8Vo4iT1WdR4cts6xlWKFLNa6y06Klxbnuwvu1wIjsbEfVcjxNMMmBBBifWF1zAAzEdh/C4xk4y5wgGTfuufD/Vas6PQzTivCGs4tMCwhFxGaMN/JFQdhEEwZ3XVkVNgIBIklQMqEkAmQUqjCSSASFO94IIBBPRANdoaJbYoaGacV4Q0Glpk2Ebqwygar2MaRcwTsB1P1QV6ry0wDAUzGAgGLxK2ah4ZmRoJIN3O1PeNhPRV+ZcoGDxWGwNx1BPxNHQe6luDHpvJIBMgqWs0NEtsZRVHgggEEqGgC0ybCN1QdDNOK8IKzy0wDAW1wHIH14eTgp/1HU/9Rv5ro+G5PQpty0y+P3Ov9NEHENYCJi8KGk8uIBMhd9LP/rZHZjf8JHlnDcQC3CGu6syn6WU1XCVxhEttdKgMQJddbXM/wBOv4eXA46cfFu3/sPdYdfMRhv5Koaq8tJAMBTFgiYvEylSeAACYKgwHFMGJn6oFSeXGCZCkrjDGG0oqrwRAMnoFHw+WcVvNAdBuIS65lR1KhBIBgBPXBcZF/JS06gAAJAKCN+f4duqdlQMGE69k3wd59NEsGPNMIBNIk4rQbqccUSMLSRPyUXjxljSyXg4M0zCA/EcLvJI2/0p+A4E8TUaxpgfuPQde56d1Vx47abrc5E0sa4jVx17AfdX2nUbVTiaHCgU2Cw+KDc/9nbrJrVGmoYwRrlJI0nUxdZ3HsLnkzCp/wDJjLHafopSO04FzQ3CTMmw7qbmXFGm0YxZ2nn0K57lvFYDiNyLLaNfxGOL2hzWlro8jcD0lc71W+Nl9sGrTfUkssB2UnLKMGDNtStivzQMjC2Be0xHTQQoXVhxbHMH/jqwS0t0dH7Seq1dXpQ53xuUU2RH7j2F8PmsF9QPGEa90xrTljt7JYMGbX6apxmM26TMnxb9OyZ7C8yNNE84+0euqWPBbXedFpBNrBog6hRtpFpxHQIvBxZpiUvGxZYibIHe/GIGut1Z5VUFOo3HoTH581VwYM2u3RL4+0euqDY5vywF2NjwQ7bcFSOqNZw5xWLhgA3PX0WSzjnsyzMbmPdDVDnnG5xPTt2HRZsta6+IW0i0yYgLc/T/AC5vEPxOBLGEEj+p2zfLcrF8bFliJXV8G/wOHYxvxOkk+f59FpI2OY8xZTGEQT20HYLOHMcbHYqmEDQAST/hYfGPLnEExHrqqbq+HLr91Bs8PzETGKCB89osr/Dtgh86Llgz909/daHDccXgM0lEdjwHM21HFhuYuYt5Llf1JykUHB7GnA8wABOF39I7HZaXDcSyk2R9yr549leiQZBPT4gYNx3TR5/W4dxMkET1sbeac1hGG86eyt8TxgawUwS8hxMnYEaeZn6Kl4P7p7+6om4DhCXtDjDbyRcgRsNyr7KVCs7A3EyNC4z6qjwXGlr2kD/XRXX8VSY81A2J/YAR9TYBS+lkZ72+EXMdqCdNOnsoalEuOIaFS1Cari82JJ/yg8fDliYVQqef4ttE1R5YYGifiLRht5fZHRAIl1z3QJtIEYtzdRMqFxwnQpnuMxJiVPVaACQBPZAFRuAS1bP6eq4g4O1Bn0P+liUCSc1/NT0+JNJ4c3TcCwIO1v5QyX26bmXJyWlzPNc+7l0XOup81vcLzIlmU4m9/iHYjbz0WVUl7jJdE6CVnW/C/DcvMuw6rf4qmWUHubsBPqdfks7hqLKTcb4aAq9L9QP8UuAyRhwu0cCbz3U91MwLa4eJKrMquxhrLEaHpadfzVLmT6TnYqRLAdW3gHsRskyswMholxmXnWOgB/ldLx6c97xX4ljcTnDqSP5S5dw7+IfgEaEk6AAbk9FVa8zEmJ9IW5yqliZUayznAC1p1hSLUtDk9NtRjQ8vm52Bjb8KmqseKgFVjSw2GEQ2BtHUTCyKNOox5xAhzTYn7rZ5rzF/hB5guluHoDe8eSzyrUjnuPOCo9jfhabTeBrE7xp6IH0g0YhqFI3NmdBcbknUk7lVmPMgEmFZ6QTHl5h2iepk+HdXeD4IVHBgIYNXO6NGpt6D1WoG8KCGNZi2LnyT5ydPSEtwYDGB4xHVRuqkHCNBZa3O+W4GipTJDDYtnT+4b4dr+6oMaIEgTCS6BfSDRI1C3+Dl9iuapuJIBJjuu95bwrXcOx7IxamOxiPotfFl6c3zNhY6W7+yoNZizO1XaP4BrxJHzXOc05Y9jpbIb2URkurEGNtFZZTDbjUI28MI0Ewlw7YIxH5oi9w0u+JEwlj8uhRDQR9EdRoa2XbCbrF9DANMOJJ6n+VB4pnDtMemiVZxBMEx2VgtETAmPrC2oHsDRiGqCmcdnbIaLiSAZI7qTiLAYbeX2QDUdgMN81JTohwxHUpqAkZr33+6iqOIJAJjsgOjknFaUNVhcZFwidn0tHVO1+DKfogssonBNrNkiRIA3jWFSpsLSCRACteK8j9vwkAxmwnbv0ULqodlE3QKs7GIbdKicE4rSmazBc32sk4Y7i0dUAvDi7E2exFldHMXxGMzEevmqragZlO3RD4J+KR191MWWz02uT8sxg1+IecAs0E3cd77N8lfqnh3uwMYwiBsN+8zPqoX03VKDAwH4W/KJWNTa5jpP0UvHeqa0eP5U1jDUZOAHMNYm0tO4WFUYXEkCQV0+Nz2Ok5cDwRtdpXONqhuUzb/AGnH8L+jdUBETeIT8BVdSfj0GhUIokHFItf3ROqY8o+vZaRpcTx7Kpl2Jx8h/lQ8Tx5fDXZWt+FvbqepVJmTW89OyTmY8wttdTFt0D6ZJJAsVO+oCCAZJQisG5TNkAoluYkWVRo/p5uGoQ7LiaQD3F4+Un0U3NuXFrwA4OGtllmpis2QRefLyVtnMXs+INcTvH83AV6S78X+IeGUMxgusAdTBBn6LAdTJMxaZU/EPfVOMnsAduwA0CAVgMt7W9lmRqjfUBBANyug/R3M/DcaNSzHnKToHH9vr/PmuabRLbmLK3wFNtZ7WOJa0ZnHeBsO5sFUeh8TTLLgS3fssTmHGMIglSUf1Oxhwua7Bo0jMQBbNNypOZcBS4hhfTc2SLEHfoQg5Z5eTLW2nVMXYrTJVhjXty4TOnslT4UU873Cy1lYvOL3LKOHM6w27rN5/wAVjOBlwPiPfYIeK5oXjAy39x9lnNdgsbzeyzYs29ipvDRBMFLhuEL39GzJPbVRupF+YbrT4aqAxrY1uT3kge6si2406vA0A0Atc/EJnER/FpVPieTBjTWpOxs/cP3M8wNlI4wJJsFHwPHlj5aJBBa5p0cHWUta2MWs0vMtuFKx4AAJghJ8U3OZrDjEdAY9lGaJdmG6IRyab9Vq1+BYccsLC1stcHTIGhPnbTqsqjnnFePzZKtWc3KHHD01/lKGNYjLGlkRohuYbIm0wRJFyJUTKhcQCZBQE1+Oxtuk44LC89U9VuAS2353SojH8V4/NkCFPHmNpQ+Mfhjt7JqlQtMCwUvhiJi8T66oNnlPNPBbhJsNCdIP7TGl9D3T1m+KS4ua0ayHNj5ysCm8uMEyCirNwXbafzda1my/K1eY8waxnhU7zdzvYf5WWKQdmJiUqLcYl1/zsgfULSQDACy3pxWnLGtvZEWYMwujdSAExeJUNJ5cYdcIgm59bR0Sc/BYX3SrZIw2n83Vrl4Y5ri/CXWAxC0TcDYHugrCiHZp1QisXZY1sj4uqA9wZZgOUdvW8J30wASBcIBczBmF9kzc+to6JqTi4w64T1skYbT+boGc/BlF/uiFEHNOt09JgcJNyonVCDANgYQEK2K0arQ5U0Mf529/ZU30g0EgXCjoPLjc6X6XG9kG3zTlYkODwWnSO903CZGO6NEklUKnGlsW+sfTRMa5e2DYdBN/PqrZE7A4uMuxuveJO94UIrF5g7oHVDMTaY9JUz6YaCQIIUXAObguLzZJrcdzaOiakcZh1/zslVOCzbT+boEamDLGi3uR1KbmOoVDhxEOa47OF4Pa5+ZWJTYHCSJJUYqGYm0x6aIlmtjjaFRrvDc3yc24I6gouBohjg9xkkOhou7KJnD6ws59RzG5XOEaZjHylR8LXdixScQuDul7Zku9rHEcK17RUDjckEEXB1noVTNYtyxopeL4l1hMDWO51PnZMymCASJJUjYAkUklQ4TBJJA5TBJJAk6SSBk5SSQIJkkkDpBJJAxThJJAxTlJJAwSKSSBBJJJA6ZJJAinSSQMnSSQMEikkgcJikkgcpgkkgRTpJIP/9k=");
}

.container {
  width: 90%;
  max-width: 800px;
  padding: 20px;
  border: 5px solid #000;
  border-radius: 5px;
  background-color: var(--container-bg);
}

/* Simplification des règles pour les boutons */
button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.625em 1.25em; /* Utilisation d'une valeur relative */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--primary-color-hover);
}

header h1 {
  margin: 20px;
}
.section {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.3125em 0; /* Utilisation d'une valeur relative */
}

h1,
h2 {
  font-family: Verdana;
  font-size: 27px;
  color: var(--text-color);
  margin: 20px;
}

h2 {
  font-weight: 500;
}

/* Styles pour #nameList et #characterDescription */
#nameList,
#characterDescription {
  color: var(--generate-text);
  font-size: 23px;
  font-weight: 700;
 align-items: center;
  
}

/* Styles pour .generator */
.generator {
  font-family: Verdana;
  color: var(--text-color);
  font-size: 23px;
  margin: 20px;
}

/* Styles pour l'élément input avec l'ID "nameCount" */
#nameCount {
  font-family: Verdana;
  font-size: 23px;
}

/* Styles pour h2 à l'intérieur de .output et .description */
.output h2,
.description h2 {
  font-family: Verdana;
}
